.row.selected {
  background: $brand-secondary;
}

.react-autosuggest__suggestions-container {
  height:80px;
  width:300px;
  overflow:hidden;
}

.react-autosuggest__suggestions-list {
  list-style:none;
  padding:0px;
}

.member-search {
  width:300px;
}

.attendee-remove {
  color: $brand-error;
  display: inline-block;
  padding: 2px;
}

.attendee-remove:hover {
  text-decoration:none;
}

.suggestion-highlighted {
  background-color: $brand-secondary;
}